<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
      <add key="source" value="reuters"/>
      <add key="label" value="PLACES" />
      <add key="labels" value="west-germany,france,uk,canada,japan,usa" />
      <add key="k" value="9" />
      <add key="trainingSetPercentage" value="60"/>
      <add key="metric" value="euclidean"/>
      <add key="extractor" value="KEYWORDS"/>
      <add key="n" value="3"/>
      <add key="limit" value="10"/>
    </appSettings>
</configuration>